@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face{
    font-family: Raleway;
}

body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url('../img/ground.png');
    background-size: cover;
}

img{
    max-width: 100%;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    object-fit: cover;
}

#score_view_container{
    border-color: black;
    border-style: solid;

    background-image: url('../img/scoreBoard.png');
    background-position: center;
    height: 5em;
    text-align: center;
}

#score{
    border-color: red;
    border-style: solid;

    font-family: Raleway;
    font-size: 2em;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#coin_img_container{
    border-color: black;
    border-style: solid;

    display: flex;
    justify-content: center;
    align-items: center;
}

#coin_img{
    border-color: red;
    border-style: solid;

    display: flex;
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    height: 50%;
    justify-content: center;
}